{
  "env": {
    "browser": false,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:mocha/recommended"
  ],
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "object-curly-spacing": 0,
    "no-console": 0
  },
  "plugins": [
    "mocha"
  ]
}
